html {
    scroll-behavior: smooth;
}

body {
    background-color: snow;
    text-align: center;
}

header {
    border-top: 3px double skyblue;
    border-bottom: 3px double skyblue;
    margin: 20px;
    font-family: 'IBM Plex Serif', 'serif';
}

header > nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-auto-rows: minmax(50px, auto);
    column-gap: 10px;
    place-items: stretch stretch;
}

.nav-logo {
    align-content: center;
}

.nav-menu {
    display: flex;
    gap: 10px;
}

.nav-menu > span {
    flex: auto;
    align-content: center;
}

.nav-menu > span:hover {
    background-color: lightblue;
}

a {
    color: inherit;
    text-decoration: none;
}

.nav-search {
    align-content: center;
}

main {
    /* border: 1px dashed black; */
    margin: 20px;
    font-family: 'IBM Plex Serif', 'serif';
}

section > p {
    font-style: italic;
}

footer {
    border-top: 1px solid skyblue;
    padding: 40px;
    margin: 50px 20px;
    font-family: 'Courier New', 'Courier', 'monospace';
}